<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weg nach Rom
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Weg nach Rom
      </ion-title>
    </ion-toolbar>
  </ion-header>
<div *ngIf="!outputDirection else arrow" class="center">
  <ion-card-content class="description">
    Bekanntlich führen alle Wege nach Rom. Diese Webseite zeigt dir Richtung in die du laufen musst.
  </ion-card-content>
  <ion-button (click)="trackLocation()" expand="block" fill="clear" shape="round">
    Zeig mir den Weg nach Rom
  </ion-button>
</div>
  <ion-card-content class="description">
    {{outputDirection}}<br/>
  </ion-card-content>

<ng-template #arrow>
  <ion-card>
    <ion-img src={{arrow}} class="arrow">
    </ion-img>
  </ion-card>
</ng-template>






</ion-content>