<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weg nach Rom
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Weg nach Rom
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content>
    Bekanntlich führen alle Wege nach Rom. Diese Webseite zeigt dir die Distanz und Richtung in die du laufen musst.
  </ion-card-content>
  
  <ion-button (click)="trackLocation()" expand="block" fill="clear" shape="round">
    Zeig mir den Weg nach Rom
  </ion-button>

  <ion-button (click)="startCompass()" expand="block" fill="clear" shape="round">
    Kompass Go
  </ion-button>

  <ion-card *ngIf="coordinates">
    Latitude / Breitengrad = {{coordinates.latitude}}<br/>
    Longitude / Längengrad = {{coordinates.longitude}}
  </ion-card>


  <ion-card *ngIf="alpha">
    Alpha = {{alpha}}
  </ion-card>
  


</ion-content>